<h1>All Users</h1>

<%= link_to 'New User', new_user_path %>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>username</th>
      <th>email</th>
      <th>action</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <%= link_to "Edit", edit_user_path(user) %>
        </td>
        <td>
          <%= link_to "Delete", user, data: { turbo_confirm: "Really delete this user?", turbo_method: :delete} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>